[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.aps
*.pdb
*.vshost.*
packages/
packages/
_ReSharper.*/
*.resharper
[Tt]est[Rr]esult*
*.cache
*.log
haarcascades/
*.xml
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
